{%extends "./index.html"%}

{%block content%}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form" method=POST>
					
					{% load widget_tweaks %}
					<a href="{%url 'home'%}"><span class="login100-form-title p-b-26">
						&lt; Welcome &gt;
					</span></a>
					<!-- <h1><span class="yellow">Orders</pan></h1> -->
					{% for error in form.non_field_errors %}
                    <div>
                        <p>{{error}}</p>
					</div>
					<br>
                    {% endfor %}			

					{% for field in form %}
					{% csrf_token %}
                    <div class="wrap-input100">							
						<!-- {% render_field form.email class+="input100" placeholder=form.email.label %} -->
						{{field|add_class:"input100"}}
						<span class="focus-input100" data-placeholder="{{field.label}}"></span>
						
					</div>
					<p1>{{field.errors}}</p1>
				
                    {% endfor %}

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Signup
							</button>
						</div>
					</div>
					
					<div class="text-center p-t-115">
						<span class="txt1">
							Already have an account?
						</span>

						<a class="txt2" href="{%url 'login'%}">
							Login
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
{%endblock%}
